.container {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    margin: auto;
    margin-top: auto;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 4px 8px 0 #a1bcba;;
    background-color: #9dbcbb;
    width: 40%;
    margin-top: 5%;

  }
  
  .container input {
    padding: 0.5rem;
    border-radius: 0.25rem;
    margin: 0.6rem 0 1rem 0;
    background-color: white;
    border: none;
  }
  
  .container button:first-of-type {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    padding: 0.4rem 1rem ;
    max-width: 150px;
    margin: 6px auto 0;
    border: none;
    border-radius: 4px;
    background-color: rgb(119, 143, 142);
    color: white;
    cursor: pointer;
  }